        body {
            font-family: monospace;
            font-size:  30px;
            color: red;
        }
        
        .titulo {
        }
        .subtitulo {
                }
        .paragrafo {
        }
        .destaque {
            color: blue;
            
        }
        #box2 {
        }
        .container {
            
            
        }